// Place all the styles related to the bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* base_list*/
.bg-abb-base-button {
  background-color: #DDDDDD;
  border-radius: 4px;
  border: 10px solid;
  border-color: #DDDDDD;
  /* margin-left: 110px; */
  width: auto;
  margin-bottom: 10px;
}

/* base_create_form*/
.label-create-new-base {
  margin-top: 5px;
}

.btn-create-new-base {
  margin-top: 10px;
}
