@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* error_text_field */
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Login_form */
.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* modal_window_Positioning */
.modal-dialog-center {
  padding-top: 10%;
}

/* Day_of_the_week_color_change */
.wday0 {
  color: red;
}

.wday6 {
  color: blue;
}

/* pplication-form */
.apply-form {
  margin-top: 5px;
  margin-bottom: 5px;
}

.approval-label {
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-apply-attendance {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*applying_link*/

.link-not-applying {
  color : black;
  pointer-events: none;
}

.link-applying {
  color : red;
}

.information-display {
  border: 3px solid red;
  color : red;
  pointer-events: none;
}

.day-not-apply-form {
  pointer-events: none;
}

/*edit_day_apply_form*/
.edit-day-apply-a {
  color : red;
  pointer-events: none;
}

/*Attendance_management_table*/
.user-info-display {
  padding-top: 1%;
}

.user-info-display-time {
  padding-top: 4%;
}

.user-info-basic-time {
  padding-top: 2%;
}

.user-info-first-day {
  padding-top: 7%;
}

.applying-info {
  border: 3px solid red;
  color : red;
  margin-bottom: 50%;
}

.attendance-management-btn {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Attendance_information_page_button */
.btn-users-show {
  margin-right: 10px;
}

.various-notices {
  margin-top: -10px;
  margin-bottom: 20px;
}

.various-notice {
  margin-bottom: 5px;
}

/*  Attendance_log */
.attendances_log_item {
  width: 20%;
}

.select-box {
  display: inline-block;
}

.btn-attendance-log {
  margin-right: 5px;
  margin-bottom: 5px;
}

.approval-log {
  margin-top: -4px;
}
  /*border: 1px solid black;*/