// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* User_details */
.user-table {
  vertical-align: middle;
  text-align: center;
}

/* Attendance_information_page_button */
.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* User_attendance_information_table */
#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* User_information_edit_form */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* User_list */
#table-users {
  td {
    vertical-align: middle;
  }  
}

/* modal_window_Basic_information_editing */
.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}