<% provide(:title, 'Create new base') %>
<% provide(:class_text, 'create-new-base') %>
<% provide(:button_text, '拠点作成') %>
<h1>拠点登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'base_form' %>
  </div>
</div>